/*
File:		byob_custom.css 
Description:	Styles for BYOB Thesis Plugins - This file is only used when the Thesis custom folder isn't writeable.
Author:         Rick Anderson
More Info:	http://www.byobwebsite.com/member-benefits/plugins/ 
*/ 

